@model IEnumerable<EstudianteClase>

<h2>Lista de EstudianteClases</h2>
<table class="table">
    <thead>
        <tr>
            <th>Estudiante</th>
            <th>Clase</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.estudiante.nombre @item.estudiante.apellido</td>
            <td>@item.clase.nombre_clase</td>
            <td>
                <a asp-action="Details" 
                   asp-route-estudiante_id="@item.estudiante_id" 
                   asp-route-clase_id="@item.clase_id">Detalles</a> |
                <a asp-action="Edit" 
                   asp-route-estudiante_id="@item.estudiante_id" 
                   asp-route-clase_id="@item.clase_id">Editar</a> |
                <a asp-action="Delete" 
                   asp-route-estudiante_id="@item.estudiante_id" 
                   asp-route-clase_id="@item.clase_id">Borrar</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<a class="btn btn-success" asp-action="Create">Crear Nuevo</a>
